body{
    margin:0;
    
    font-family: 'Heebo', sans-serif;
   
    padding-top: 80px ;

}
.container{
    max-width: 1180px;
    margin: auto;
   
    padding: 0 16px;
}
ul{
    margin:0;
    padding:0;
}
header{
    background-color: #FFF;
    box-shadow: 0 1px 6px 0 rgba(0,0,0 ,0.15);
    height: 80px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
    
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
    
}
header .logo{
    
    display: inline-block;
    font-size: 27px;
  
}
header .logo a{
    
    text-decoration: none;
    color:black;
  
}
header .logo .blue-dot{
    background-color: blue;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
   
    
}
header nav{
    
    display: inline-block;
    
   
}
header nav ul li{
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;


}
header nav ul li a{
    text-decoration: none;
}
header nav ul li.menu-icon img{
    vertical-align: middle;
    width:20px;
    height: 40px;
}
header nav ul li.menu-icon {
    display: none;
}
header nav ul li:last-of-type a{
    
    margin-right: 0;


}
section.hero{
    position :relative;
}
section.hero img{
    width: 100%;
    height:auto;
}

.hero-content{
    position:absolute;
    top:0;
    left:0;
 
    width: 100%;
    height: 100%;
    z-index: 0;
}
.hero-content .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    height: 100%;
}
.hero-content h1{
    margin-top:0;
    max-width: 495px;
    color: black;
    font-family: cursive;
    font-size: 50px;
    letter-spacing: 1.25px;
    line-height: 56px;
    margin-bottom:  16px;
}
.hero-content p{
    max-width: 518px;
    color: #FFF;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 21px ;
    
}
.hero-content button{
    height: 50px;
    width:220px;
    border-radius: 92px;
    background-color: blue;
    max-width:100%;
    border:none;
    text-transform: capitalize;

    

    
    color: #FFF;
    font-size: 16px;
    font-weight: 700;

    letter-spacing: 0.4px;
    line-height: 24px;
    text-align: center;
}
section.artists hr{
    border :none;
    border-top: 5px solid #67F11D;
    width:66px;
}
section.artists h2{
    text-align: center;
    justify-content: center;
}
section.artists .container{
    display:flex;
    justify-content: space-around;
    padding:0 8px; 
}
section.artists .product-slider{
    margin-top:76px;

   
}
section.artists .product-slider .product{
    border-radius: 8px;
    border: 1px solid #DDD;
    width:33%;
    text-align:center;
    margin :8px; 
    padding :40px;
    position: relative ;
    display:flex;
    flex-direction:column;
    justify-content: space-between;


}
section.artists .product-slider .product .product-info{
    margin-top:50px;
}
section.artists .product-slider .product .product-info .categories{

   color:#3E50E5;
   font-weight: normal;
   font-size: 14px;
   letter-spacing:0.35px;
   line-height:30px;
   margin-bottom:8px;
   margin-top:0;

}
section.artists .product-slider .product .product-info .title{

  
    font-weight: normal;
    font-size: 20px;
    letter-spacing:0.5px;
    line-height:26px;
    margin-bottom:6px;
    margin-top:0px;
 }
 section.artists .product-slider .product .product-info .price{

  
    font-weight: bold;
    font-size: 28px;
    letter-spacing:0.7px;
    line-height:30px;
    margin-bottom:16px;
    margin-top:0px;
 }
 section.artists .product-slider .product .product-info .price .discounted-price{
    color:red;
 }
 section.best-sellers .product-slider .product .product-info .price .original-price{
 color: grey; 
 font-weight:normal;
 font-size:12px;
 letter-spacing: 0.4;
 line-height: 30px;
 text-decoration: line-through;
}
   section.artists .product-slider .product .product-info button{

    height:50px;
    width:219.5px;
    border:1px solid black;
    border-radius: 220px;
    text-transform:uppercase; 
    font-weight:700;
    font-size: 16 px;
    letter-spacing:0.4px;
    line-height:24px;
    background-color: #FFF;
 }
 section.artists .product-slider .product.new::before{
content: "New";
background-color: red; 
position: absolute;
top:12px;
right:12px;
border-radius: 40px;
padding:4px 15px;
text-align: center;
line-height: 21px;
letter-spacing: 0.35px;
color:#FFF;
font-size: 14px;
background-color: #EC1C1C;
}
section.artists .product-slider .product img{
    max-width: 100%;
}
section.newsletter{
    background-color: #DFCFBE;
    margin:auto;
    max-width:  955px;
    text-align: center;
    padding:72px 0;
    margin:80px auto;


     
}
section.newsletter h3{
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 42px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10;
}
section.newsletter p{
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: normal;
}
section.newsletter form{
    display: flex;
    justify-content: center;
}
section.newsletter form input{
    height:50px;
    width: 326px;
    max-width: 80%;
    border-radius: 60px 0 0 60px;
    border-radius: 170px 0 0 170px;
    box-sizing: border-box;
    border:  1px solid #3E3E3E;
    padding-left: 22px;
    
}

section.newsletter form button{
    border-radius: 0 170px 170px 0;
    background-color: blue;
    height: 50px;
    width:145px;
    max-width: 20%;
    box-sizing: border-box;
    color: aliceblue;

}
footer .bottom-nav
{
    padding :60px 0;
    background-color: #3E3E3E;
}
footer .bottom-nav .container{
    max-width:955px;
    display: flex;
    justify-content: space-between;
}
footer .bottom-nav ul .list-title{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 20;
    color: #FFF;
    padding: 0px 0px 10px 0px;
}
footer .bottom-nav ul{
    list-style: none;
}

footer .bottom-nav ul a{
    font-size: 16px;

    letter-spacing: 0.4px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #e0e0e0;
    text-decoration: none;
    display:block;
}
footer .bottom-nav ul li.list-title{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 20;
    color: #FFF;
}

footer .copyright-text{
    color: white;
    background-color: #2b2b2b;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
}
header nav ul li a:hover{
    color: orangered;
}
footer .bottom-nav ul a:hover{
    
   
    color: blue;
   
}
section.newsletter form button:hover{
    background-color: orangered;
    cursor: pointer;
}
section.artists .product-slider .product:hover{
    cursor: pointer;
}
section.artists .product-slider .product:hover .product-info button{
    background-color: orangered;


}
.hero-content button:hover{
    background-color: orangered;
    cursor: pointer;
}
@media screen  and (max-width:1440px)
   {
    .container{
       width:1180px;


    }
    body{
        padding-top: 70px;
    }
    header{
        height: 70px;
    }
    .hero-content h1{
        font-size:44px ;
        letter-spacing:1.1px ;
        margin-bottom: 12px;
        line-height: 50px ;
    }
    .hero-content p{
        max-width: 518px;
        font-size:18px ;
        letter-spacing:0.45px ;
        margin-bottom: 12px;
        line-height: 26px ;
        
    }
    .hero-content button{
       
        font-size:14px ;
        letter-spacing:0.35px ;
        
        line-height: 21px ;
        
    }
   }
   /*tablets*/
   
   @media screen and (max-width:960px) 
   {
    .container{
        max-width: 92%;
        

    }
    header.logo{
        font-size: 24px;
    }
    header nav ul li{
        display: none;
    }
    header nav ul li.menu-icon{
        display:inline-block;
    }
    .hero-content h1{
        font-size:40px ;
        letter-spacing:1px ;
       
        line-height: 46px ;
    }
    .hero-content p{
        font-size:16px ;
        letter-spacing:0.4px ;
       
        line-height: 24px ;
    }
    .hero-content button{
        font-size:14px ;
        letter-spacing:0.35px ;
       
        line-height: 21px ;
    }

   }
   /*mobile phones*/
   @media screen and (max-width:576px) 
   {
    header.logo{
        font-size: 18px;
    }
    header .logo .blue-dot{
        width:7px;
        height:7px;
    }
    .hero-content{
        position:static;
    }
    .hero-content h1{
        color:black;
      
        font-size:32px ;
        letter-spacing:0.8px ;
        text-align: center;
       margin-bottom: 24px;
        line-height: 38px ;
        margin-top: 27px;
    }
    .hero-content p{
       display: none;
    }
    .hero-content button{
        font-size:14px ;
        letter-spacing:0.35px ;
       margin:auto;
        line-height: 21px ;
    }
   }







 



    












 



    